[Unit]
Description=Check for AtlANTian system releases
After=network-online.target atlantian-persist-state.service
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/atlantian-release-check
ExecStart=/usr/local/sbin/atlantian-release-check
