[Unit]
Description=Check for AtlANTian system releases
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/atlantian-release-check
